<div class='container'>
	
	<div class='cubeMain'>
		<section class='cubecontainer'>
		  <div id='cube'>
		    <figure class='front'>1</figure>
		    <figure class='back'>2</figure>
		    <figure class='right'>3</figure>
		    <figure class='left'>4</figure>
		    <figure class='top'>5</figure>
		    <figure class='bottom'>6</figure>
		  </div>
		</section>
		<br />
		<br />
		<section>
			<button ng-click='rotateToFront()'>1</button>
			<button ng-click='rotateToBack()'>2</button>
			<button ng-click='rotateToRight()'>3</button>
			<button ng-click='rotateToLeft()'>4</button>
			<button ng-click="rotateToTop()">5</button>
			<button ng-click="rotateToBottom()">6</button>
		</section>
	</div><!-- /.cubecontainer -->
	
</div><!-- /.container -->