<div class="container RCIcontainer">
	<div class="row">
		<div class="rightClickImageWrapper">
			<p>Right-click to zoom</p>
			<img class="rightClickImage" src="images/knowit.jpg" alt="Knowit Logo"/>
			<img class="rightClickImage" src="images/knowit.jpg" alt="Knowit Logo"/>
			<img class="rightClickImage" src="images/knowit.jpg" alt="Knowit Logo"/>
			<img class="rightClickImage" src="images/knowit.jpg" alt="Knowit Logo"/>
			<img class="rightClickImage" src="images/knowit.jpg" alt="Knowit Logo"/>
			<img class="rightClickImage" src="images/knowit.jpg" alt="Knowit Logo"/>
			<img class="rightClickImage" src="images/knowit.jpg" alt="Knowit Logo"/>
			<img class="rightClickImage" src="images/knowit.jpg" alt="Knowit Logo"/>
			<img class="rightClickImage" src="images/knowit.jpg" alt="Knowit Logo"/>
		</div><!-- /.rightClickImage -->
	</div><!-- /.row -->
</div><!-- /.container -->